{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}

  <!-- Breadcrumb navigation bar -->
  <ol class="breadcrumb">
    <li><a href="{{ url_for('search_author') }}">Search</a></li>
    <li class="active">{{ book.title|title }}</li>
  </ol>

  <!-- Title -->
  <h2 class="text-center" style="color: purple;">{{ book.title|title}}</h2>
  <hr>

  <!-- Book details -->
  <h3 class="text-center">Details</h3>
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6 text-right">
          <p>Written by : </p>
          <p>Year of publication : </p>
          <p>ISBN number : </p>
        </div>
        <div class="col-xs-6 text-left">
          <p><b>{{book.author|title}}</b></p>
          <p><b>{{book.year}}</b></p>
          <p><b>{{book.isbn}}</b></p>

        </div>
      </div>

      <div class="row">
        <br>
        {% if review_count and average_rating %}
          <p>Reviewed by <b>{{review_count}}</b> people with an average rating of <b>{{average_rating}} out of 5</b> on goodreads.com</p>
        {% else %}
          <p>No review data available on <a href="https://goodreads.com">goodreads.com</a>.</p>
        {% endif %}
        <p><h5 style="color: grey;"><i>Powered by the goodreads api</i></h5></p>
      </div>
    </div>
  </div>

  {% if show_review_form %}
  <!-- Review Form - show if user hasn't already added a review -->
  <h3 class="text-center">Write a Review</h3>
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <div class="col-xs-6 col-xs-offset-3">
        {{wtf.quick_form(review_form)}}
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Reviews -->
  <h3 class="text-center">Reviews</h3>
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <div class="col-xs-6 col-xs-offset-3">
        {% if reviews %}
          {% for review in reviews %}
            <div class="text-left">

              <blockquote>
                <p>{{ review.body }}</p>
                <p class="text-center">Rating : <b>{{review.rating}} / 5</b></p>
                <footer class="text-right"> {{review.first_name}} {{review.last_name}}</footer>
              </blockquote>

          {% endfor %}
        {% else %}
          <b>No reviews yet.</b>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
