<html>
  <head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Adam's Book Review Site</title>
    {% endif %}
  </head>
  <body>

    <!-- Navigation Bar -->
    <div>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Log In</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </div>

    <!-- Area to Flash messages to the user -->
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}

    <!-- The Main Content -->
    {% block content %}
    {% endblock %}
  </body>
</html>
